@model DepositEditModel

<div asp-validation-summary="All"></div>
<form method="post" asp-action="Create" asp-route-returnUrl="@ViewBag.returnUrl">
    <input type="hidden" name="Id" value="@Model.Deposit.Id" />
    <div class="form-group">
        <label for="AppUserId">Владелец</label>
        <select name="AppUserId" class="form-control">
            <option value="" selected="selected">Выбрать</option>
            @foreach (var id in Model.Users.Keys)
            {
                <option value="@id">@Model.Users[id]</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Deposit.Depositor">Банк или депозитор</label>
        <input asp-for="Deposit.Depositor" name="Depositor" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Deposit.Amount">Сумма</label>
        <input asp-for="Deposit.Amount" name="Amount" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Deposit.NumberAccountDeposit">Счёт номер</label>
        <input asp-for="Deposit.NumberAccountDeposit" name="NumberAccountDeposit" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="Deposit.Deadline">Срок(месяц)</label>
        <input asp-for="Deposit.Deadline" name="Deadline" class="form-control">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <a href="@ViewBag.returnUrl" class="btn btn-outline-primary">Отменить</a>
    </div>
</form>
